*,
::before,
::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    background-color: rgb(250, 171, 162);
}

.container{
    width: 450px;
    background-color:#f0f0f0;
    margin: 0 auto;
    overflow: hidden;
    margin-top: 40px;
    border-radius: 20px;

}

.header {
    background-color: rgb(195, 191, 191);
    padding: 20px 30px;
}

.header h2 {
    margin: 0;
    background-image: linear-gradient(to right,  rgb(240, 145, 134), rgb(92, 13, 4));
    -webkit-background-clip: text;
    color: transparent;
}

.form {
    padding: 20px 30px;
}

.form-control {
    margin-bottom: 20px;
    padding-bottom: 20px;
    position: relative;
}

.form-control label {
    display: inline-block;
    font-size: 14px;
    text-transform: uppercase;
    margin-bottom: 5px;
}

.form-control input {
    display: block;
    width: 100%;
    height: 35px;
    padding: 10px;
    font-size: 15px;
    border-radius: 50px;
    border: 1px solid #f0f0f0;
    font-family: inherit;
}

.form-control input:focus {
    outline: 0;
    border: 1px solid rgb(250, 171, 162);
}

.form-control.success input {
    border-color: #00ff00;
}

.form-control.error input {
    border-color: #ff0000;
}

.form-control.success i.fa-check-square {
    color: #00ff00;
    visibility: visible;
}

.form-control.error i.fa-exclamation-circle {
    color: #ff0000;
    visibility: visible;
}

.form-control.error small {
    color: #ff0000;
    visibility: visible;
}

.form-control i {
    position: absolute;
    right: 10px;
    top: 33px;
    visibility: hidden;
}

.form-control small {
    position: absolute;
    left: 0;
    bottom: 0;
    visibility: hidden;
}

#submit {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: rgb(250, 171, 162);
    border: rgb(250, 171, 162);
    border-radius: 10px;
}

#submit:focus {
    outline: 0;
    border: 1px solid rgb(250, 171, 162);
}






